<section class="contact-form">
  <div class="wrapper">
    <h2>Get your Guaranteed car finance</h2>
    <p>
      Simply fill out our form below and we will give you a call back with your
      options.
    </p>

    <form id="contact-form">
      <label for="first_name">
        First Name
        <input
          type="text"
          id="first_name"
          name="First Name"
          placeholder="John"
          required
        />
      </label>
      <label for="last_name">
        Last Name
        <input
          type="text"
          id="last_name"
          name="Last Name"
          placeholder="Smith"
          required
        />
      </label>
      <label for="email">
        Email
        <input
          type="email"
          id="email"
          name="Email"
          placeholder="john@example.co.uk"
          required
        />
      </label>
      <label for="phone">
        Phone Number
        <input
          type="tel"
          id="phone"
          name="Phone Number"
          placeholder="01234 567 890"
        />
      </label>
      <label for="message" class="textarea">
        Message
        <textarea
          name="message"
          id="message"
          placeholder="Message..."
        ></textarea>
      </label>
      <div class="cf-turnstile" data-sitekey="0x4AAAAAABSQ-ykme0gBOFqF"></div>
      <p id="responseMessage" class="responseMessage"></p>
      <button type="submit" class="button-transition">Submit</button>
    </form>
  </div>
  <script>
    document
      .getElementById("contact-form")
      .addEventListener("submit", async (e) => {
        e.preventDefault();
        const widgetContainer = document.querySelector(".cf-turnstile");
        const widgetId = widgetContainer.getAttribute("data-widget-id");
        const formData = new FormData(e.target);
        const response = await fetch("/submit-form", {
          method: "POST",
          body: JSON.stringify(Object.fromEntries(formData)),
          headers: {
            "Content-Type": "application/json",
          },
        });
        const result = await response.json();
        document.getElementById("responseMessage").style.display = "block";
        document.getElementById("responseMessage").textContent = result.message;
        turnstile.reset(widgetId);
      });
  </script>
</section>
