<section class="contact-form">
  <div class="wrapper">
    <h2>Get your Guaranteed car finance</h2>
    <p>
      Simply fill out our form below and we will give you a call back with your
      options.
    </p>

    <form>
      <label for="first_name">
        First Name
        <input
          type="text"
          id="first_name"
          name="First Name"
          placeholder="John"
          required
        />
      </label>
      <label for="last_name">
        Last Name
        <input
          type="text"
          id="last_name"
          name="Last Name"
          placeholder="Smith"
          required
        />
      </label>
      <label for="email">
        Email
        <input
          type="email"
          id="email"
          name="Email"
          placeholder="john@example.co.uk"
          required
        />
      </label>
      <label for="phone">
        Phone Number
        <input type="tel" id="phone" name="Phone Number" placeholder="01234 567 890" />
      </label>
      <label for="message" class="textarea">
        Message
        <textarea
          name="message"
          id="message"
          placeholder="Message..."
        ></textarea>
      </label>
      <button type="submit" class="button-transition">Submit</button>
    </form>
  </div>
</section>
